.cat-container{
    flex: 1;
    margin: 30px;
    height: 70vh;
    position: relative;
}
.cat-container img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.cat-container .cat-info{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.cat-container .cat-title{
    color:white;
    margin-bottom: 20px;
}
.cat-container button{
    border:none;
    padding: 10px;
    background-color: white;
    color:gray;
    cursor: pointer;
    font-weight: 600;
}
.cat-container button:hover{
    background-color: coral;
    color: aliceblue;
}